//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the checklist component.
// -----------------------------------------------------------------------------

.checklist {
    list-style: none;

    li {
        position: relative;
        padding-left: 5px;
        
        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: -35px;
            width: 24px;
            height: 22px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &-white {
        li:before {
            background-image: url(../assets/images/icon-check-white.png);
        }
    }

    &-green {
        li:before {
            background-image: url(../assets/images/icon-check-green.png);
        }
    }

    @media (max-width: 991px) {
        li {
            padding-left: 0;

            &:before {
                width: 20px;
                height: 16px;
            }
        }
    }
}