//main: ../main.scss

/**
 * Basic typography style for copy text
 */
 
body {
    color: $brand-color;
    font: normal 125% / 1.4 $text-font-stack;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    text-transform: none;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p, ul, ol, label, input, textarea {
    // font-size: 16px;
    font-size: 18px;
    line-height: 1.2;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul, ol {
    padding-left: 40px;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

a {
    color: $text-color;

    &:hover {
        color: #96302f;
        text-decoration: none;
    }

    @include on-event() {
        text-decoration: none;
    }
}

.medium-text {
    font-size: 22px;
    line-height: 1.6;
}


@media (max-width: 991px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p, ul, ol, label, input, textarea {
        font-size: 16px;
        line-height: 1.4;
    }

    .medium-text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 29px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 19px;
    }

    h6 {
        font-size: 17px;
    }

    ul, ol {
        padding-left: 30px;
    }

    p, ul, ol, label, input, textarea {
        font-size: 15px;
    }

    .medium-text {
        font-size: 16px;
    }
}